{% extends 'layout.html' %} {% block style %}
<link
      href="{{ url_for('static', filename='css/app.css') }}"
      rel="stylesheet"
    />
<style>
  .hidden {
    display: none;
  }

</style>
{% endblock %} {% block body %}

<div class="section">
  <div class="row">
    <div class="col-lg-12">
      <h2>Administrar Ambulancia</h2>
      <div class="card mx-auto shadow">
        <div class="card-header" style="background-color: #012970">
          <button
            type="button"
            class="btn btn-light rounded-pill"
          >
            <i class="bi bi-plus-lg"></i>&nbsp;Nueva Ambulancia
          </button>
        </div>
      </br>
      <div class="table-responsive bg-white container pt-2">
        <table class="table table-sm table-bordered" id="example">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>Placa</th> 
              <th>Modelo</th>
              <th>Marca</th>
              <th>Anio</th>
              <th>Capacidad</th>
              <th class="btn-options">Acciones</th>
            </tr>
          </thead>
  
          <tbody>
            {% for ambulacia in ambulancias %}
            <tr>
              <td class="text-center">{{ambulacia.id}}</td>
              <td>{{ambulacia.placa}}</td>
              <td>{{ambulacia.modelo}}</td>
              <td>{{ambulacia.marca}}</td>
              <td>{{ambulacia.anio}}</td>
              <td>{{ambulacia.capacidad}}</td>
              <td class="btn-options">
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                >
                  <i class="bi bi-eye"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                >
                  <i class="bi bi-gear"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
{% endblock %} {% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  

  async function viewMedico(id_medico) {
    if (typeof id_medico !== 'string' || id_medico.trim() === '') {
      console.log("El parámetro 'id_medico' es inválido o está vacío");
      return;
    }
    try {
      const url = `${window.origin}/api/medico/view/${id_medico}`;
      console.log(url);
      const response = await axios.get(url);
      console.log(response);
      return response.data;
    } catch (error) {
      console.log(error);
    }
  }
</script>

{% endblock %}
