{% extends 'layout.html' %} {% block style %}
<link
      href="{{ url_for('static', filename='css/app.css') }}"
      rel="stylesheet"
    />
<style>
  
  .hidden {
    display: none;
  }

  .my-swal-title {
    color: #012970;
  }


  #swal2-title{
    color: #012970;
  }

  #swal2-html-container {
    padding: 5%;
  }
    
  .my-swal-container input{
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
  }

  .my-swal-container label{
    text-align: left;
    color: #012970;
    font-size: 16px;
  }


</style>
{% endblock %} {% block body %}

<div class="section">
  <div class="row">
    <div class="col-lg-12">
      <h2>Administrar Ambulancia</h2>
      <div class="card mx-auto shadow">
        <div class="card-header" style="background-color: #012970">
          <button
            type="button"
            id="btnAmbulancia"
            class="btn btn-light rounded-pill"
          >
            <i class="bi bi-plus-lg"></i>&nbsp;Nueva Ambulancia
          </button>
        </div>
      </br>
      <div class="table-responsive bg-white container pt-2">
        <table class="table table-sm table-bordered" id="example">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Placa</th> 
              <th>Modelo</th>
              <th>Marca</th>
              <th>Anio</th>
              <th>Capacidad</th>
              <th class="btn-options">Acciones</th>
            </tr>
          </thead>
  
          <tbody id="tambulancias">

          </tbody>
        </table>
    
      </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
{% endblock %} {% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/notificacionSwal.js') }}"></script>
<script src="{{ url_for('static', filename='js/ambulancia/ambulancia.js') }}"></script>
<script>

  //import ss from '/';
  mostrarAmbulancias();
  
const btnAmbulancia = document.getElementById('btnAmbulancia');
btnAmbulancia.addEventListener('click',()=>{ modalAmbulancia() });

</script>

{% endblock %}
