.my-swal-title {
  color: var(--color-rojo);
}

#swal2-title {
  color: var(--color-rojo);;
}

#swal2-html-container {
  padding: 5%;
  text-align: justify;
}

.my-swal-container input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 16px;
}

.my-swal-container label {
  text-align: left;
  color: #012970;
  font-size: 14px;
}

.my-swal-container b {
  color: #012970;
  font-size: 16px;
}

.my-swal-container select {
  /*color: #012970;*/
  font-size: 16px;
}
