{% extends 'layout.html' %} {% block body %}

<div class="container">
  <br />
  <div class="row justify-content-center">
    <h2>Administrar Alergia</h2>
  </div>
  <div class="border border-dark p-0">
    <div class="card-header" style="background-color: #011f4b">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#modalcreate"
      >
        <span class="bi-plus-square-fill"></span>&nbsp;Nueva Alergia
      </button>
      {% include '/alergia/modal/create.html' %}
    </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table table-sm table-bordered" id="example">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Nombre</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for alergia in alergias %}
          <tr>
            <td class="text-center">{{loop.index0 + 1}}</td>

            <td>{{alergia.nombre}}</td>
            <td>
              <button
                type="button"
                class="btn btn-warning btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#modaledit{{alergia.id}}"
              >
                <i class="bi bi-gear"></i>
              </button>

              <div
                class="modal fade"
                id="modaledit{{alergia.id}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="modaledit{{alergia.id}}"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div
                      class="modal-header"
                      style="background-color: #011f4b; color: white"
                    >
                      <h4 class="modal-title">Editar Alergia</h4>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <br />
                    <div class="modal-body">
                      <form
                        method="POST"
                        action="/alergia/update/{{alergia.id}}"
                      >
                        <input
                          type="hidden"
                          name="csrf_token"
                          value="{{ csrf_token() }}"
                        />
                        <div class="mb-3">
                          <label for="txtNombre" class="col-form-label"
                            >Nombre:</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="txtNombre"
                            name="txtNombre"
                            value="{{alergia.nombre}}"
                            required
                          />
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-bs-dismiss="modal"
                          >
                            Cerrar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Actualizar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              |
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#modaldelete{{alergia.id}}"
              >
                <i class="bi bi-trash"></i>
              </button>
              <div
                class="modal fade"
                id="modaldelete{{alergia.id}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="basicModal"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div
                      class="modal-header"
                      style="background-color: #011f4b; color: white"
                    >
                      <h4 class="modal-title">Eliminar Alergia</h4>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <br />
                    <form action="/alergia/delete/{{alergia.id}}" method="post">
                      <input
                        type="hidden"
                        name="csrf_token"
                        value="{{ csrf_token() }}"
                      />
                      <div class="modal-body">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label"
                            >Esta seguro de eliminar
                            <span style="font-weight: bold; color: red"
                              >{{alergia.nombre}}</span
                            >
                            ?</label
                          >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-default"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <button type="submit" class="btn btn-danger">
                          Eliminar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <br />
</div>
{% endblock %}
