{% extends 'layout.html' %} {% block body %}

<div class="container">
  <br />
  <div class="row justify-content-center">
    <h2>Administrar Paciente</h2>
  </div>
  <div class="border border-dark p-0">
    <div class="card-header" style="background-color: #011f4b">
      <a href="/paciente/createp" type="button" class="btn btn-primary btn-sm">
        <span class="bi-plus-square-fill"></span>&nbsp;Nuevo Paciente
      </a>
    </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table table-sm table-bordered" id="example">
        <thead>
          <tr>
            <th class="text-center">CI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for persona in personas %}
          <tr>
            <td class="text-center">{{persona.ci}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.nombres}}</td>
            <td>
              <a
                href="/paciente/view/{{persona.ci}}"
                type="button"
                class="btn btn-success btn-sm"
              ><i class="bi bi-eye-fill" ></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <br />
</div>
{% endblock %}
