{% extends 'layout.html' %} {% block body %}

<div class="section">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <h2>Administrar Paciente</h2>
      </div>
      <div class="card mx-auto shadow">
        <div class="card-header" style="background-color: #012970">
          <a
            href="/paciente/createp"
            type="button"
            class="btn btn-light rounded-pill"
          >
            <span class="bi-plus-square-fill"></span>&nbsp;Nuevo Paciente
          </a>
        </div>

        <table class="table datatable">
          <thead>
            <tr>
              <th class="text-center">CI</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {% for persona in personas %}
            <tr>
              <td class="text-center">{{persona.ci}}</td>
              <td>{{persona.apellidos}}</td>
              <td>{{persona.nombres}}</td>
              <td>
                <a
                  href="/paciente/view/{{persona.ci}}"
                  type="button"
                  class="btn btn-success btn-sm"
                  ><i class="bi bi-eye-fill"></i>
                </a>
              </td>
              <td>
                <a
                  href="/paciente/updatep/{{persona.ci}}"
                  type="button"
                  class="btn btn-primary btn-sm"
                  ><i class="bi bi-gear"></i>
                </a>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-info btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#modaldelete{{persona.ci}}"
                >
                  <i class="bi bi-qr-code"></i>
                </button>

                <div
                  class="modal fade"
                  id="modaldelete{{persona.ci}}"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="basicModal"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                      <div
                        class="modal-header"
                        style="background-color: #012970; color: white"
                      >
                        <h5 class="modal-title"><b>Qr Paciente :</b><br/>
                          {{persona.nombres +" "+ persona.apellidos}}</h5>
                        
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <br />

                      <div class="modal-body">
                        <div class="form-group row">
                          <img
                            src="{{ qrcode({'ci_persona':persona.ci,'nombre_completo':persona.nombres+' '+persona.apellidos, 'foto_url':persona.foto_url,'fecha_nacimiento':persona.fecha_nacimiento}) }}" alt="QR Code"
                          />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-default"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <button type="submit" class="btn btn-primary">
                          Imprimir
                        </button>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>
{% endblock %}
