{% extends 'layout.html' %} {% block style %}
<style>
  .hidden {
    display: none;
  }
</style>
{% endblock %}{% block body %}

<div class="container">
  <div class="row justify-content-center">
    <h2>Administrar Chofer</h2>
  </div>
  <div class="card mx-auto shadow">
    <div class="card-header" style="background-color: #012970">
      <button type="button" class="btn btn-light rounded-pill">
        <i class="bi-plus-square-fill"></i>Nuevo Chofer
      </button>
    </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table datatable">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Nombre Completo</th>
            <th>Licencia</th>
            <th>Categoria</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for chofer in chofers %}
          <tr>
            <td class="text-center">{{chofer.idch}}</td>
            <td>{{chofer.nombre +" "+chofer.apellido}}</td>
            <td>{{chofer.licencia}}</td>
            <td>{{chofer.categoria}}</td>
            <td>{{chofer.estado}}</td>
            <td>
              <button class="btn btn-warning btn-sm">
                <i class="bi bi-gear"></i>
              </button>
              <button type="button" 
                      class="btn btn-secondary btn-sm" 
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top" 
                      data-bs-title="Asignar Ambulancia">
                <i class="bi bi-shield-plus"></i>
              </button>
              <button class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i>
              </buttone=>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <br />
</div>
{% endblock %} {% block js %}

<script></script>
{% endblock %}
