<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <style>
      .row-padding {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="row row-padding mx-auto w-50">
      <div class="col">
        <div class="form-floating">
          <select class="form-select"
                    id="sangreTxt"
                    required>
                    <option value="A+">A positivo (A+)</option>
                    <option value="O+">O positivo (O+)</option>
                    <option value="B+">B positivo (B+)</option>
                    <option value="A-">A negativo (A-)</option>
                    <option value="O-">O negativo (O-)</option>
                    <option value="AB+">AB positivo (AB+)</option>
                    <option value="B-">B negativo (B-)</option>
                    <option value="AB-">AB negativo (AB-)</option>
                    <option value="Rh+">Rh positivo (Rh+)</option>
                    <option value="Rh-">Rh negativo (Rh-)</option>
                  </select>
          <label for="sangreTxt" class="form-label">Tipo de Sangre:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input id="alturaTxt" type="number" class="form-control" />
          <label for="alturaTxt" class="form-label">Altura:</label>
        </div>
      </div>
    </div>
    <div class="row row-padding mx-auto w-50">
      <div class="col">
        <div class="form-floating">
          <select id="hipertencionTxt" class="form-select" required>
            <option value="Si">Si</option>
            <option value="No" selected>No</option>
          </select>
          <label for="hipertencionTxt" class="form-label">Hipertencion:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input id="pesoTxt" type="number" class="form-control" />
          <label for="pesoTxt" class="form-label">Peso:</label>
        </div>
      </div>
    </div>
  </body>
</html>
