<form method="POST" action="/enfermedad/create">
  <div class="modal fade" id="modalcreate">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div
          class="modal-header"
          style="background-color: #011f4b; color: white"
        >
          <h4 class="modal-tittle">Nueva Enfermedad</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          >
            <span aria-hidden="true" style="color: white">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md">
              <label for="txtNombre">Nombre</label>
            </div>
            <div class="col-md d-inline">
              <input
                class="form-control d-inline"
                type="text"
                name="txtNombre"
                id="nombre"
                required
              />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="row p-2">
            <input class="btn btn-success" type="submit" value="Agregar" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
