{% extends 'layout.html' %} {% block style %}
<style>
  .hidden {
    display: none;
  }
</style>
{% endblock %} {% block body %}

<div class="section">
  <div class="row">
    <div class="col-lg-12">
      <h2>Administrar Paciente</h2>
      <div class="card mx-auto shadow">
        <div class="card-header" style="background-color: #012970">
          <button
            type="button"
            class="btn btn-light rounded-pill"
            data-bs-toggle="modal"
            data-bs-target="#modalcreate"
          >
            <span class="bi-plus-square-fill"></span>&nbsp;Nuevo Paciente
          </button>
          {% include '/paciente/create.html' %}
        </div>

        <table class="table datatable">
          <thead>
            <tr>
              <th>CI</th>
              <th>Nombre Completo</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>

          <tbody>
            {% for paciente in pacients %}
            <tr>
              <td>{{paciente.ci_persona}}</td>
              <td>{{paciente.nombres +" "+ paciente.apellidos}}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-warning btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#modaledit{{paciente.id_paciente}}"
                >
                  <i class="bi bi-gear"></i>
                </button>

                <div
                  class="modal fade"
                  id="modaledit{{paciente.id_paciente}}"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="modaledit{{paciente.id_paciente}}"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div
                        class="modal-header"
                        style="background-color: #011f4b; color: white"
                      >
                        <h4 class="modal-title">Editar Paciente</h4>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <br />
                      <div class="modal-body">
                        <form method="POST" action="#">
                          <div class="mb-3">
                            <label
                              for="txtNombre{{loop.index}}"
                              class="col-form-label"
                              >Especialidad:</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="txtNombre{{loop.index}}"
                              name="txtNombre{{loop.index}}"
                              value="{{ pass }}"
                              required
                            />
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-default"
                              data-bs-dismiss="modal"
                            >
                              Cerrar
                            </button>
                            <button type="submit" class="btn btn-success">
                              Actualizar
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                |
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#modaldelete{{paciente.id_paciente}}"
                >
                  <i class="bi bi-trash"></i>
                </button>
                <div
                  class="modal fade"
                  id="modaldelete{{paciente.id_paciente}}"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="basicModal"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div
                        class="modal-header"
                        style="background-color: #011f4b; color: white"
                      >
                        <h4 class="modal-title">Eliminar Paciente</h4>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <br />
                      <form action="#" method="post">
                        <div class="modal-body">
                          <div class="form-group row">
                            <label class="col-sm-12 col-form-label"
                              >Esta seguro de eliminar
                              <span style="font-weight: bold; color: red"
                                >{{paciente.id_paciente}}</span
                              >
                              ?</label
                            >
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-bs-dismiss="modal"
                          >
                            Cerrar
                          </button>
                          <button type="submit" class="btn btn-danger">
                            Eliminar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                |
                <a
                  href="/paciente/{{paciente.ci_persona}}"
                  class="btn btn-success btn-sm"
                >
                  <i class="bi bi-eye"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
{% endblock %} {% block js %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/paciente/phones.js') }}"></script>
<script>
  const form = document.getElementById("form");
  const step1 = document.getElementById("step1");
  const step2 = document.getElementById("step2");
  const step3 = document.getElementById("step3");
  const next1 = document.getElementById("next1");
  const next2 = document.getElementById("next2");
  const prev1 = document.getElementById("prev1");
  const prev2 = document.getElementById("prev2");

  next1.addEventListener("click", () => {
    step1.classList.add("hidden");
    step2.classList.remove("hidden");
  });

  prev1.addEventListener("click", () => {
    step2.classList.add("hidden");
    step1.classList.remove("hidden");
  });

  next2.addEventListener("click", () => {
    step2.classList.add("hidden");
    step3.classList.remove("hidden");
  });

  prev2.addEventListener("click", () => {
    step3.classList.add("hidden");
    step2.classList.remove("hidden");
  });

  const myModal = new bootstrap.Modal(document.getElementById("modalcreate"));

  const addMedicoForm = document.getElementById("add-medico");
  addMedicoForm.addEventListener("submit", handleSubmit);

  function handleSubmit() {
    const ci = document.getElementById("ciTxt").value;
    const nombre = document.getElementById("nombreTxt").value;
    const apellido = document.getElementById("apellidoTxt").value;
    const fecha = document.getElementById("fechaTxt").value;
    const direccion = document.getElementById("direccionTxt").value;
    const genero = document.getElementById("generoTxt").value;
    const estado = document.getElementById("estadocTxt").value;

    const tipo_sangre = document.getElementById("txtSangre").value;
    const hipertencion = document.getElementById("txtHipertencion").value;
    const altura = document.getElementById("txtAltura").value;
    const peso = document.getElementById("txtPeso").value;

    const name_user = document.getElementById("nameuserTxt").value;
    const password_user = document.getElementById("passwordTxt").value;
    const email_user = document.getElementById("emailTxt").value;

    const data = {
      ci_persona: ci,
      nombres: nombre,
      apellidos: apellido,
      fecha_nacimiento: fecha,
      direccion: direccion,
      genero: genero,
      estado_civil: estado,
      nameuser: name_user,
      password: password_user,
      email: email_user,
      tipo_sangre: tipo_sangre,
      hipertencion: hipertencion,
      altura: altura,
      peso: peso,
    };

    console.log(data.hipertencion);

    guardarPacienteAxios(data)
      .then((response) => {
        // Recargar la página sin utilizar la caché
        location.reload(true);

        /*const Toast = Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 4000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });

        Toast.fire({
          icon: "success",
          title: "Se Agrego Paciente!",
        });*/
        //Swal.fire("Datos Ingresados!", "Se Agrego Paciente!", "success");
      })
      .catch((error) => {
        console.log("Error al obtener y llenar los datos:", error);
      });
  }

  async function guardarPacienteAxios(datos) {
    try {
      const url = `${window.origin}/api/paciente/add`;
      const { response } = await axios.post(url, datos);
      return response;
    } catch (error) {
      console.log(error);
    }
  }
</script>

{% endblock %}
