{% extends 'layout.html' %} {% block style %}
<link href="{{ url_for('static', filename='css/carnet.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/swalnotif.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/uploadPhoto.css') }}" rel="stylesheet" />
<style>
  .hidden {
    display: none;
  }

  .custom-btn {
    background-color: #012970;
    color: white;
  }

  .custom-btn:hover {
    background-color: #012970;
    color:white;
  }

  .legend-txt {
    /*font-weight: bold;*/
    color: #012970;
  }

</style>
{% endblock %} {% block body %}

<div class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mx-auto shadow">
        <div class="card-header" style="background-color: #012970">
          <h2 style="color: white;">Administrar Paciente</h2>
        </div>
        <div class="card-body">
          
            <div class="profile-pic">
              <label class="-label" for="file">
                <span class="glyphicon glyphicon-camera"></span>
                <span>Cambiar Perfil</span>
              </label>
              <input id="file" type="file" accept="image/png,image/jpeg" onchange="loadFile(event)"/>
              <img src="{{paciente.persona.foto_url}}" id="output" width="200" />
            </div>
          </br>
          <fieldset>
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Información Personal</legend>
              </div>
              <div class="col">
                <button id="btnPersona" class="btn btn-sm custom-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Editar">
                  <i class="bi bi-pen"></i>
              </button>
            </div>
            </div>
            <div class="row">
              <div class="col">
                <p id="cilbl" ><b>CI : </b>{{paciente.persona.ci}}</p>
                <p id="nombreLbl"><b>Nombre : </b>{{paciente.persona.nombres}}</p>
                <p id="apellidoLbl"><b>Apellido : </b>{{paciente.persona.apellidos}}</p>
                <p id="fechaLbl">
                  <b>Fecha Nacimiento : </b
                  >{{paciente.persona.fecha_nacimiento}}
                </p>
              </div>
              <div class="col">
                <p id="dirLbl"><b>Direccion : </b>{{paciente.persona.direccion}}</p>
                <p id="estadoLbl"><b>Estado Civil : </b></p>
                <p id="generoLbl"><b>Genero : </b></p>
                <p id="edadLbl"><b>Edad : </b></p>
              </div>
            </div>
          </fieldset>
          <fieldset>            
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Información Paciente</legend>
              </div>
              <div class="col">
                <button id="btnPaciente" class="btn btn-sm custom-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Editar Informacion de paciente">
                  <i class="bi bi-pen"></i>
              </button>
            </div>
            </div>
            <div class="row">
              <div class="col">
                <p id="idLbl"><b>ID : </b>{{paciente.paciente.id}}</p>
                <p id="sangreLbl"><b>Tipo Sangre : </b>{{paciente.paciente.tipoSangre}}</p>
                <p id="hiperLbl"><b>Hipertencion : </b>{{paciente.paciente.hipertencion}}</p>
              </div>
              <div class="col">
                <p id="alturaLbl"><b>Altura : </b>{{paciente.paciente.altura}}</p>
                <p id="pesoLbl"><b>Peso : </b>{{paciente.paciente.peso}}</p>
              </div>
            </div>
          </fieldset>


          <fieldset>
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Carnet</legend>
              </div> 
              <div class="col">
                <button id="btnCarnet" onclick="imprimirPDF()" class="btn btn-sm custom-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Imprimir">
                  <i class="bi bi-printer"></i>
              </button>
            </div>
            </div>
            {% include '/paciente/carnet.html' %}  
          </fieldset>


          
          <fieldset>
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Telefonos</legend>
              </div> 
              <div class="col">
                <button id="btnPhone" class="btn btn-sm custom-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar Telefono">
                  <i class="bi bi-plus-lg"></i>
              </button>
            </div>
            </div>
            <div class="table-responsive bg-white">
              <table class="table table-striped">
               <thead>
                  <tr>
                   <th>Numero</th>
                   <th>Referencia</th>
                   <th></th>
                 </tr>
                </thead>
               <tbody id="tphones"></tbody>
              </table>
            </div>
          </fieldset>

          <fieldset>
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Alergia</legend>
              </div>
              <div class="col">
                <button id="btnAlergia" class="btn btn-sm custom-btn"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar Alergia">
                  <i class="bi bi-plus-lg"></i>
              </button>
            </div>
            </div>
            <div class="table-responsive bg-white">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Gravedad</th>
                  <th>Reaccion</th>
                </tr>
              </thead>
              <tbody id="talergia"></tbody>
            </table>
          </div>
          </fieldset>

          <fieldset>            
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Enfermedades</legend>
              </div>
              <div class="col">
                <button id="btnEnfermedad" class="btn btn-sm custom-btn"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar Enfermedad">
                  <i class="bi bi-plus-lg"></i>
              </button>
            </div>
            </div>
            <div class="table-responsive bg-white container pt-2">
              <table class="table table-striped">
                <thead>
                  <tr>
                     <th>Nombre</th>
                     <th>Descripcion</th>
                     <th>Causa</th>
                    <th>Sintoma</th>
                    <th>Diagnostico</th>
                  </tr>
                </thead>
               <tbody id="tenfermedad"></tbody>
              </table>
          </div>
          </fieldset>
          <fieldset>
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Documentos</legend>
              </div>
              <div class="col">
                <button id="btnDoc" class="btn btn-sm custom-btn"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar Documento">
                  <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
            <div class="table-responsive bg-white container pt-2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Tipo</th>
                  <th>Documento Clinico</th>
                </tr>
              </thead>
              <tbody id="tdocumento"></tbody>
            </table>
          </div>
          </fieldset>
          <fieldset>
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Operaciones</legend>
              </div>
              <div class="col">
                <button id="btnOperacion" class="btn btn-sm custom-btn"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar Operacion">
                  <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
            <div class="table-responsive bg-white container pt-2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Tipo</th>
                  <th>Fecha</th>
                  <th>Descripcion</th>
                </tr>
              </thead>
              <tbody id="toperacion"></tbody>
            </table>
          </div>
          </fieldset>
          <fieldset>
            
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Medicamentos</legend>
              </div>
              <div class="col">
                <button id="btnMedicamento" class="btn btn-sm custom-btn"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar Medicamento">
                  <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
            <div class="table-responsive bg-white container pt-2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Unidad</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody id="tmedicamento"></tbody>
            </table>
          </div>
          </fieldset>
          <fieldset>
            
            <div class="row">
              <div class="col">
                <legend class="legend-txt">Vacunas</legend>
              </div>
              <div class="col">
                <button id="btnVacuna" class="btn btn-sm custom-btn"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar Vacuna">
                  <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
            <div class="table-responsive bg-white container pt-2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Dosis</th>
                </tr>
              </thead>
              <tbody id="tvacuna"></tbody>
            </table>
          </div>
          </fieldset>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
  {% endblock %} {% block js %}

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/qrious@4.0.2/dist/qrious.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <script src="{{ url_for('static', filename='js/paciente/paciente.js') }}"></script>
  <script src="{{ url_for('static', filename='js/notificacionSwal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paciente/phones.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paciente/alergias.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paciente/enfermedades.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paciente/documentos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paciente/medicamentos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paciente/operaciones.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paciente/vacunas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/myHelper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/printpdf.js') }}"></script>
  <script>

    const ci = '{{paciente.persona.ci}}';
    const id_paciente = '{{paciente.paciente.id}}';

    console.log('ci persona -> ',ci);
    console.log('id paciente -> ',id_paciente);

    function loadFile(event) {
      const image = document.getElementById("output");
      const file = event.target.files[0];
      image.src = URL.createObjectURL(file);
      const formData = new FormData();
      formData.append('photo', file);
      const url = `${window.origin}/api/person/upload/{{paciente.persona.ci}}`
      
      axios.post(url, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then((response) => {
        notificacionSwal('Cambio de perfil!','success')
      })
      .catch((error) => {
        notificacionSwal(error,'error')        
      });
    }

    const btnPersona = document.getElementById('btnPersona');
    btnPersona.addEventListener('click', ()=>{update_persona_paciente(ci)} ,false);

    const btnPaciente = document.getElementById('btnPaciente');
    btnPaciente.addEventListener('click', function(){update_paciente(id_paciente)} ,false);

    const btnPhone = document.getElementById('btnPhone');
    btnPhone.addEventListener('click', function(){modalPhone(ci)} ,false);

    const btnAlergia = document.getElementById('btnAlergia');
    btnAlergia.addEventListener('click', function(){modalAlergia(ci,id_paciente)} ,false);

    const btnEnfermedad = document.getElementById('btnEnfermedad');
    btnEnfermedad.addEventListener('click', function(){modalEnfermedad(ci,id_paciente)} ,false);

    const btnDoc = document.getElementById('btnDoc');
    btnDoc.addEventListener('click', function(){modalDocumento(ci,id_paciente)} ,false);

    const btnOperacion = document.getElementById('btnOperacion');
    btnOperacion.addEventListener('click', ()=>{modalOperacion(ci,id_paciente)} ,false);

    const btnVacuna = document.getElementById('btnVacuna');
    btnVacuna.addEventListener('click', ()=>{modalVacuna(ci,id_paciente)} ,false);
    
    const btnMedicamento = document.getElementById('btnMedicamento');
    btnMedicamento.addEventListener('click', ()=>{modalMedicamento(ci,id_paciente)} ,false);

    obtenerPhones(ci)
      .then((datos) => {
        llenarTabla(datos);
      })
      .catch((error) => {
        console.log("Error al obtener y llenar los datos:", error);
      });

      mostrarAlergias(ci);

      mostrarEnfermedades(ci);

      obtenerDocumentos(ci)
      .then((datos)=>{
        llenarTablaDoc(datos);
        })
        .catch((error) => {
          console.log("Error al obtener y llenar los datos:", error);
        });

        mostrarMedicamentos(ci);

        mostrarOperacions(ci);

        mostrarVacunas(ci);
        
        function load_age_persona(){
          const edadLbl = document.getElementById('edadLbl');        
          const fechaNacimiento = "{{paciente.persona.fecha_nacimiento}}";
          const edad = calcularEdadExacta(fechaNacimiento);
          edadLbl.innerHTML=`<p><b>Edad : </b>${edad.anios} Años ${edad.meses} Meses ${edad.dias} Dias.</p>`;

          const estadoLbl = document.getElementById('estadoLbl');        
          const generoLbl = document.getElementById('generoLbl');        
          const estado = estado_civil_persona("{{paciente.persona.estado_civil}}");
          const genero= genero_persona("{{paciente.persona.genero}}");
          estadoLbl.innerHTML=`<p><b>Estado Civil : </b>${estado}</p>`;
          generoLbl.innerHTML=`<p><b>Genero : </b>${genero}</p>`;
        }

        load_age_persona();
        
        const ds =new QRious({
          element: document.querySelector("#qrious"),
          value: JSON.stringify({ ci : ci }),
          size: 100,
          foreground: "#012970"
        });

  </script>

  {% endblock %}
</div>
