{% include 'head.html'   %}
  {% block style %}  {% endblock %} 
  </head>

  <body class="bg-white">
    
    {% include 'logo.html' %}

    {% include 'sidebar.html'   %}

    <main id="main" class="main">
      <section class="section dashboard">
        <div class="row">
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">{% block body %} {% endblock %}</div>
          </div>
          <!-- End Left side columns -->
        </div>
      </section>
    </main>
    <!-- End #main -->
    {% include 'credits.html'   %}
    
    
    {% block js %} {% endblock %}
    {% include 'footer.html'   %}
  </body>
  </html>