{% extends 'layout.html' %} {% block body %}

<div class="container">
  <br />
  <div class="row justify-content-center">
    <h2>Administrar Enfermedad</h2>
  </div>
  <div class="border border-dark p-0">
    <div class="card-header" style="background-color: #011f4b">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#modalcreate"
      >
      <span class="bi-plus-square-fill"></span>&nbsp;Nueva Enfermedad
      </button>      
      {% include '/enfermedad/modal/create.html' %}
    </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table table-sm table-bordered" id="example">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Nombre</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for enfermedad in enfermedads %}
          <tr>
            <td class="text-center">{{loop.index0 + 1}}</td>

            <td>{{enfermedad.nombre}}</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-warning btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#modaledit{{enfermedad.id}}"
              >
                <i class="fa fa-close"></i>
              </button>

              <div
                class="modal fade"
                id="modaledit{{enfermedad.id}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="modaledit{{enfermedad.id}}"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div
                      class="modal-header"
                      style="background-color: #011f4b; color: white"
                    >
                      <h4 class="modal-title">Editar Enfermedad</h4>
                      <button
                        type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <br />
                    <form
                      method="POST"
                      action="/enfermedad/update/{{enfermedad.id}}"
                    >
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md">
                            <label for="Nombre">Nombre</label>
                          </div>
                          <div class="col-md d-inline">
                            <input
                              class="form-control d-inline"
                              type="text"
                              name="nombre"
                              value="{{enfermedad.nombre}}"
                              required
                            />
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-default"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <button type="submit" class="btn btn-success">
                          Actualizar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              |
              <!-- Modal 2  -->

              <a
                onclick="return confirm('Desea borrar la Enfermedad?')"
                class="btn btn-danger btn-sm py-0"
                href=""
              >
                <i class="far fa-trash-alt"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <br />
</div>
{% endblock %}
