<div class="modal fade" id="modalcreate">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #011f4b; color: white">
        <h4 class="modal-tittle">Nueva Usuario</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/user/create">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="mb-3">
            <label for="txtNombre" class="col-form-label">Nombre de usuario:</label>
            <input
              type="text"
              class="form-control"
              id="txtNombre"
              name="txtNombre"
              required
            />
          </div>
          <div class="mb-3">
            <label for="txtNombre" class="col-form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="txtEmail"
              name="txtEmail"
              required
            />
          </div>
          <div class="mb-3">
            <label for="txtPassword" class="col-form-label">Contraseña:</label>
            <input
              type="password"
              class="form-control"
              id="txtPassword"
              name="txtPassword"
              required
            />
          </div>
          <div class="mb-3">
            <label for="txtRol" class="col-form-label">Rol:</label>
            <select class="form-control" name="txtRol" id="txtRol">
                <option value="1">Administrador</option>
                <option value="2">Medico</option>
                <option value="3">Chofer</option>
                <option value="4">Enfermero</option>
            </select>            
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
