{% extends 'layout.html' %} {% block style %}
<link
  href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}

<div class="container">
  <div class="row justify-content-center">
    <h2>Administrar Usuarios</h2>
  </div>
  <div class="card mx-auto shadow">
    <div class="card-header">
      <div class="card-title">Usuarios</div>
    </div>
    <div id="table"></div>
  </div>
  <hr>
  
</div>
{% endblock %} {% block js %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/paciente/user.js') }}"></script>
<script>
  console.log("comenzamo...");
</script>
{% endblock %}
