{% extends 'layout.html' %} {% block body %}

<div class="container">
  <div class="row justify-content-center">
    <h2>Administrar Usuarios</h2>
  </div>
  <div class="card mx-auto shadow">
    <div class="card-header" style="background-color: #012970">
      
    </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table datatable">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th>CI</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for user in users %}
          <tr>
            <td class="text-center">{{user.id_user}}</td>
            <td>{{user.ci_persona}}</td>
            <td>{{user.name_user}}</td>
            <td>{{user.nombre_completo}}</td>
            <td>{{user.rol}}</td>
            <td>
                <button
                  type="button"
                  class="btn btn-warning btn-sm"
                >
                  <i class="bi bi-gear"></i>
                </button>
  
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                >
                  <i class="bi bi-trash"></i>
                </button>
   
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <br />
    <br />
  </div>
  {% endblock %}
  