{% extends 'layout.html' %} {% block style %}
<link
  href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}

<div class="pagetitle">
  <h1>Administar Usuarios</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">home</a></li>
      <li class="breadcrumb-item active">Usuarios</li>
    </ol>
  </nav>
</div>

<div class="section">
  <div class="row">
    <div class="col-lg-10">
      <div class="card shadow">
        <div class="card-body">
          <div class="card-title">Usuarios</div>
        </div>
        <div id="table"></div>
      </div>
      <hr>
    </div>
  </div>
</div>
{% endblock %} {% block js %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/paciente/user.js') }}"></script>
<script>
  console.log("comenzamo...");
</script>
{% endblock %}
