<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Login</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon" />
    <link
      href="{{ url_for('static', filename='img/logo.png') }}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link href="static/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <div class="container">
        <section
          class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div
                class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
              >
                <div class="d-flex justify-content-center py-4">
                  <a href="" class="logo d-flex align-items-center w-auto">
                    <img
                      src="{{ url_for('static', filename='img/logo.png') }}"
                      alt=""
                    />
                    <span style="color: #d90429;">Seguro Scz</span>
                  </a>
                </div>
                <!-- End Logo -->

                <div class="card mb-3">
                  <div class="card-body">
                    <div class="pt-4 pb-2">
                      {% with messages = get_flashed_messages() %} {% if
                      messages %}
                      <br />
                      {% for message in messages %}
                      <div
                        class="alert alert-primary alert-dismissible"
                        role="alert"
                      >
                        <strong>{{ message }}</strong>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="alert"
                          aria-label="Close"
                        ></button>
                      </div>
                      {% endfor %} {% endif %} {% endwith %}
                  
                      <div class=" text-center pb-0 fs-4">
                        Ingrese su Cuenta
                      <hr>
                      <p class="text-center small"></p>
                    </div>
                  
                    <form
                      class="row g-3 needs-validation"
                      action="{{ url_for('login')}}"
                      method="POST"
                    >
                      <div class="col-12">
                        <label for="txtNombre" class="form-label"
                          >Nombre de usuario</label
                        >
                        <div class="input-group has-validation">
                          <span class="input-group-text"
                            ><i class="bi bi-person-circle"></i
                          ></span>
                          <input
                            type="text"
                            name="txtNombre"
                            class="form-control"
                            id="yourUsername"
                            required
                          />
                          <div class="invalid-feedback">
                            Please enter your username.
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="txtPassword" class="form-label"
                          >Contraseña</label
                        >
                        <div class="input-group has-validation">
                          <span class="input-group-text">
                            <i class="bi bi-key"></i>
                          </span>
                          <input
                            type="password"
                            name="txtPassword"
                            class="form-control"
                            id="yourPassword"
                            required
                          />

                          <span>
                            <i
                              class="bi bi-eye"
                              aria-hidden="true"
                              type="button"
                              id="eye"
                            ></i>
                          </span>

                          <div class="invalid-feedback">
                            Please enter your password!
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <button class="btn-Red w-100" type="submit">
                          Inicia sesion
                        </button>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="credits">Diseñado por <a href="">PL</a></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
      "use strict";
      function show() {
        let passwordTxt = document.getElementById("yourPassword");
        passwordTxt.setAttribute("type", "text");
      }

      function hide() {
        let passwordTxt = document.getElementById("yourPassword");
        passwordTxt.setAttribute("type", "password");
      }

      let pwShown = 0;

      document.getElementById("eye").addEventListener(
        "click",
        () => {
          if (pwShown == 0) {
            pwShown = 1;
            show();
          } else {
            pwShown = 0;
            hide();
          }
        },
        false
      );
    </script>
  </body>
</html>
