{% extends 'layout.html' %} {% block style %} {% endblock %} {% block body %}

<div class="pagetitle">
  <h1>Inicio</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Cambiar Contraseña</li>
    </ol>
  </nav>
</div>

<div class="section">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card mx-auto shadow">
        <div class="card-body">
          <h4 class="card-title">Cambiar contraseña</h4>
          <form>
            <div class="mb-3">
              <label for="current-password" class="form-label"
                >Contraseña actual</label
              >
              <input
                type="password"
                class="form-control"
                id="current-password"
                name="current-password"
                required
              />
            </div>
            <div class="mb-3">
              <label for="new-password" class="form-label"
                >Nueva contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="new-password"
                name="new-password"
                required
              />
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label"
                >Confirmar contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="confirm-password"
                name="confirm-password"
                required
              />
            </div>
            <div class="d-flex flex-row-reverse bd-highlight">
              <button type="submit" class="bd-highlight btn-Red">
                Cambiar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js %}

<script></script>

{% endblock %}
