{% extends 'layout.html' %} {% block style %} {% endblock %} {% block body %}

<div class="container">
  <div class="card mx-auto shadow">
    <div class="card-header">
      <h4>Cambiar contraseña</h4>
      <br />
    </div>
    <div class="card-body">
      <form>
        <br />
        <div class="mb-3">
          <label for="current-password" class="form-label"
            >Contraseña actual</label
          >
          <input
            type="password"
            class="form-control"
            id="current-password"
            name="current-password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="new-password" class="form-label">Nueva contraseña</label>
          <input
            type="password"
            class="form-control"
            id="new-password"
            name="new-password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="confirm-password" class="form-label"
            >Confirmar contraseña</label
          >
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            name="confirm-password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">
          Cambiar contraseña
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block js %}

<script></script>

{% endblock %}
