{% extends 'layout.html' %} {% block style %}
<link
  href="{{ url_for('static', filename='css/swalnotif.css') }}"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='css/uploadPhoto.css') }}"
  rel="stylesheet"
/>

{% endblock %} {% block body %}

<div class="container">
  <div class="card mx-auto shadow">
    <div class="card-header">
      <div class="card-title">Informacion de Usuario</div>
    </div>
    {#<img
      id="output"
      src="{{persona.foto_url}}"
      alt="perfil"
      class="card-img-top mx-auto d-block p-2"
      style="width: 150px; height: 150px; border-radius: 50%"
    />#}

    <div class="profile-pic">
      <label class="-label" for="file">
        <span class="glyphicon glyphicon-camera"></span>
        <span>Cambiar Perfil</span>
      </label>
      <input id="file" type="file" accept="image/png,image/jpeg" onchange="loadFile(event)"/>
      <img src="{{persona.foto_url}}" id="output" width="200" />
    </div>

    <div class="card-body">
      <h5 class="card-title">{{current_user.nameuser}}</h5>
      <p class="card-text"><b>CI : </b>{{current_user.ci_persona}}</p>
      <p class="card-text"><b>ID User : </b>{{current_user.id}}</p>
      <p class="card-text"><b>Nombre : </b>{{persona.nombres}}</p>
      <p class="card-text"><b>Apellidos : </b>{{persona.apellidos}}</p>
      <p class="card-text"><b>Direccion : </b>{{persona.direccion}}</p>
      {% if persona.genero =='m' %}
      <p class="card-text"><b>Genero : </b><i class="bi bi-gender-male"></i></p>
      {% elif persona.genero =='f' %}
      <p class="card-text">
        <b>Genero : </b><i class="bi bi-gender-female"></i>
      </p>
      {% else %}
      <p class="card-text">
        <b>Genero : </b><i class="bi bi-gender-ambiguous"></i>
      </p>
      {% endif %}
      <p class="card-text"><b>Edad : </b>{{edad_user}}, Años</p>
      <p class="card-text"><b>Email : </b>{{current_user.email}}</p>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/notificacionSwal.js') }}"></script>
<script>
  "use strict";
  const ci_perona = "{{current_user.ci_persona}}";
  console.log(ci_perona);

  function loadFile(event) {
    const image = document.getElementById("output");
    const file = event.target.files[0];
    image.src = URL.createObjectURL(file);
    const formData = new FormData();
    formData.append("photo", file);
    const url = `${window.origin}/api/person/upload/{{current_user.ci_persona}}`;

    axios
      .post(url, formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      })
      .then((response) => {
        notificacionSwal("Cambio de perfil!", "success");
      })
      .catch((error) => {
        notificacionSwal(error, "error");
      });
  }
</script>
{% endblock %}
